*,
*::before{
    margin:1px;
    padding:0px;
    box-sizing:border-box;
  
    /* Amb això ens asegurem que funciona per tots els navegadors */
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}

body{
    font-family: 'Lato', sans-serif;   
}

    .stripes_container{
        display:flex;
        flex-flow:row nowrap;   
        justify-content:center;   
        font-size:1.6rem;
        line-height: 1.5;
        min-height: 100vh;
    }

        .stripes_content{
            display:flex;
            justify-content:center; 
            align-items: center;
            position: absolute;
            overflow: hidden;
            width:20%;   
        }

            .stripes_block{
                display:flex;
                justify-content: center;
                align-items: center; 
                width:100%;
                color:white;   
                min-height: 100vh;         
            }

                /* COLOR STRIPES BACKGROUND WITH PSEUDOCLASS CHILD */

                .stripes_content:nth-child(1) {
                    left: 0;
                }
                 .stripes_content:nth-child(1) .stripes_block{
                    background-color: #244F75; 
                }

                .stripes_content:nth-child(2) {
                    left: 20vw;
                }
                .stripes_content:nth-child(2) .stripes_block{
                    background: #60BFBF;
                }

                .stripes_content:nth-child(3) {
                    left: 40vw;
                }
                .stripes_content:nth-child(3) .stripes_block{
                    background-color:#8C4B7E;
                }

                .stripes_content:nth-child(4) {
                    left: 60vw;
                }
                .stripes_content:nth-child(4) .stripes_block{
                    background-color:#F8BB44;
                }

                .stripes_content:nth-child(5) {
                    left: 80vw;
                }
                .stripes_content:nth-child(5) .stripes_block{
                    background-color:#F24B4B;
                }

                /* COLOR STRIPES BACKGROUND OPACITY */

                .stripes_block::before{
                    content: "";
                    position: absolute;
                    z-index: 1;
                    top: 0;

                    width: 100%;
                    height: 100%;
                    background: #fff;
                    opacity: 0.05;
                    -webkit-transform-origin: center center;
                            transform-origin: center center;
                    -webkit-transform: skew(30deg) scaleY(1) translate(0, 0);
                            transform: skew(30deg) scaleY(1) translate(0, 0);
                    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
                }

                .stripes_block:hover::before {
                    opacity: 0.1;
                    -webkit-transform: skew(0deg) scaleY(1) translate(0, 0);
                            transform: skew(0deg) scaleY(1) translate(0, 0);
                  }


